/*	Modifying existing styles	*/
body {
	font-family: sans-serif;
	margin-left: auto;	/*	centers content	*/
	margin-right: auto;
}

h1 {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	clear: both;
	border: 1px solid black;
}

td{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid black;
    border-collapse: collapse;
    background-color: #FAFAFA;
}

th {
	text-align: center;
	padding: 10px;
	border: 1px solid black;
    border-collapse: collapse;
    background-color: #DDDDDD;
}

/*	Creating new style classes (alphabetized)	*/

.at {
	width: 15px;
	height: 15px;
}

.banner {
	margin-left: auto;
	margin-right: auto;
	
	width: 480px;
	height: 120px;
	text-align: center;
	
	padding: 0px;
	border: 10px solid transparent;
	border-image-source: url("http://students.washington.edu/mjstyczi/supporting/graphics/porthole_border_Cu.png");
	border-image-slice: 60;
	border-image-width: 35px;
	border-image-outset: 0;
	border-image-repeat: round;
	
	background-repeat: no-repeat;
	background-position: center;
}

.bannercontainer {
	margin-top: 6px;
	margin-bottom: 6px;
	width: 520px;
	height: 160px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.col-third {
	width: 239px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
	vertical-align: middle;
}

.col-third-mid {
	margin-left: 10px;
	margin-right: 10px;
}

.columns {
	max-width: 770px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#evalQ {
	height: 2.3em;
}

#evalQhdr {
	height: 2.3em;
	width: 90px;
}

#evalR {
	height: 8.0em;
}

#evalRhdr {
	height: 2.5em;
	width: 90px;
}

.extlinks {
	font-size: small;
	line-height: 30px;
	position: relative;
	top: -10px;
}

/*	Lighten default color for external links, which appear on a BG of dark water	*/
.extlinks a:link{color:white; background-color:transparent; text-decoration:underline;}
.extlinks a:visited {color:purple; background-color:transparent; text-decoration:underline;}
.extlinks a:hover {color:white; background-color:transparent; text-decoration:underline;}
.extlinks a:active {color:red; background-color:transparent; text-decoration:underline;}

.fakelink {
	color: blue;
	text-decoration: underline;
}

.footer {
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	color: #666666;
	text-align: center;
	max-width: 740px;
}

.homelogo {
	float: left;
	margin: 10px;	
}

.liclogo {
	width: 88px;
	height: 31px;
	border: 0px;
}

.licdiv {
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}

.logospane-blu {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;	
	
	background-color: #a8d7fe;
	width: 695px;
	height: 120px;
	
	padding: 10px;
	border: 10px solid transparent;
	border-image-source: url("http://students.washington.edu/mjstyczi/supporting/graphics/logo_border_blu.png");
	border-image-slice: 60;
	border-image-width: 4;
	border-image-outset: 0;
	border-image-repeat: round;
}

.logospane-grn {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;	
	
	background-color: #7fd3a1;
	width: 695px;
	height: 120px;
	
	padding: 10px;
	border: 10px solid transparent;
	border-image-source: url("http://students.washington.edu/mjstyczi/supporting/graphics/logo_border_grn.png");
	border-image-slice: 60;
	border-image-width: 4;
	border-image-outset: 0;
	border-image-repeat: round;
}

.logospane-yel {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;	
	
	background-color: #f5f5c5;
	width: 695px;
	height: 120px;
	
	padding: 10px;
	border: 10px solid transparent;
	border-image-source: url("http://students.washington.edu/mjstyczi/supporting/graphics/logo_border_yel.png");
	border-image-slice: 60;
	border-image-width: 4;
	border-image-outset: 0;
	border-image-repeat: round;
}

.logosq {
	margin: 2px;
	width: 120px;
	height: 120px;
	border: 0px;
}

.main {
	text-align: left;
	padding: 10px;
	margin-left: 235px;
	line-height: 1.5;		
}

.map {
	text-align: center;
	margin: 10px;
	width: 509px;
	height: 582px;
	border: none;
}

.mapmain {
	text-align: center;
	padding: 10px;
	line-height: 1.5;
}

.mapnavlink {
	display: block;
}

.middiv {
	display: inline-block;
	text-align: center;
}

.navcurrent {	
	list-style-type: disc;
	color: #009900;
	font-weight: bold;
}

.navlabel {
	margin-left: 10px;
}

.navlink {
	display: block;
	width: 110px;
}

.navlist {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 25px;
	text-align: left;
}

.navpane {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	margin-left: 10px;
	margin-right: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	
	line-height: 40px;
	text-align: left;
	vertical-align: middle;
	background-image: url("http://students.washington.edu/mjstyczi/supporting/graphics/navBG_5link.jpg");
	background-repeat: no-repeat;
	background-position: center;
	
	padding: 5px;
	border: 10px solid transparent;
	border-image-source: url("http://students.washington.edu/mjstyczi/supporting/graphics/porthole_border_Cu.png");
	border-image-slice: 60;
	border-image-width: 35px;
	border-image-outset: 0;
	border-image-repeat: round;
}

.overall {
	position: relative;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#peg_logo {
	width: 265px;
	height: 265px;
	float: right;
	margin: 5px;
}

.portrait {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 457px;
	height: 653px;
	box-shadow: 8px 8px 4px #999999;
	border: 0px;
}

.resource {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	
	border: none;
	background-color: #F4F1FF;
	vertical-align: middle;
	text-decoration: none;
}

.resource-col {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	
	border: none;
	background-color: #F4F1FF;
	text-decoration: none;
	text-align: left;
}

.resdiv {
	width: 750px;
	background-color: #F4F1FF;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	
	border: 10px solid transparent;
	border-image-source: url("http://students.washington.edu/mjstyczi/supporting/graphics/resource_border.png");
	border-image-slice: 60;
	border-image-width: 4;
	border-image-outset: 0;
	border-image-repeat: round;
}

.resdiv-col {
	background-color: #F4F1FF;
	padding: 10px;
	display: inline-block;
	text-align: center;
	table-layout:fixed;
	width: auto;
	
	border: 10px solid transparent;
	border-image-source: url("http://students.washington.edu/mjstyczi/supporting/graphics/resource_border.png");
	border-image-slice: 60;
	border-image-width: 4;
	border-image-outset: 0;
	border-image-repeat: round;
}

.resimg {
	display: inline-block;
	max-width: 95px;
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.reslink {
	text-decoration: none;
	color: black;
}

#town_hall {
	width: 748px;
	height: 421px;
	clear: both;
	text-align: center;
}

.warning {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 300px;
	height: 264px;
}

.wrapimg {
	width: 457px;
	height: 653px;
	box-shadow: 8px 8px 4px #999999;
	border: 0px;
	float: right;
}
